/* Enter your custom styles here */
.ventiaColumnName {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.ventiaHeader .sapMTitleStyleAuto {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.size1 {
    font-size: 1.5rem;
}

.size2 {
    font-size: 0.10rem;
}

.sapMFlexBoxAlignItemsStretch {
    align-items: center;
}

.myCustomText {
    font-weight: bold !important;
    color: #FF7F50 !important;
}

.myCustomTextGreen {
    font-weight: bold !important;
    color: rgb(7, 7, 7) !important;
    /* color: green !important; */
}

.ventiaLink .sapMLnk {
    font-size: 1.0rem;
}


.ventiaGroup .sapMGHLITitle,
.sapMGHLICounter {
    color: blue !important;
}


.sapMTB-Transparent-CTX.sapMTB {
    padding: 0 0.0rem 0 0.00rem !important;
    padding-top: 0px !important;
    padding-right: 0.0rem !important;
    padding-bottom: 0px !important;
    padding-left: 0.00rem !important;
}

.sapUxAPObjectPageLayout-Std-Phone .sapUxAPBlockContainer {
    padding: 0;
}

.sapUxAPObjectPageLayout-Std-Phone .sapUxAPObjectPageSubSectionPromoted .sapUxAPBlockContainer {
    padding-top: 0;
}